EUREKA_URL=http://localhost:8761/eureka/

USER_DB_URL=jdbc:postgresql://localhost:5432/ecommerce_users
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=postgres

PRODUCT_DB_URL=jdbc:postgresql://localhost:5432/ecommerce_products
PRODUCT_DB_USERNAME=postgres
PRODUCT_DB_PASSWORD=postgres

CART_DB_URL=jdbc:postgresql://localhost:5432/ecommerce_carts
CART_DB_USERNAME=postgres
CART_DB_PASSWORD=postgres

ORDER_DB_URL=jdbc:postgresql://localhost:5432/ecommerce_orders
ORDER_DB_USERNAME=postgres
ORDER_DB_PASSWORD=postgres

PAYMENT_DB_URL=jdbc:postgresql://localhost:5432/ecommerce_payments
PAYMENT_DB_USERNAME=postgres
PAYMENT_DB_PASSWORD=postgres

NOTIFICATION_DB_URL=jdbc:postgresql://localhost:5432/ecommerce_notifications
NOTIFICATION_DB_USERNAME=postgres
NOTIFICATION_DB_PASSWORD=postgres

JWT_SECRET=change-this-secret-in-production-change-this-secret-in-production
JWT_EXPIRATION_MS=86400000
